#computer {
    margin-bottom: 20px;
    display: flex;
    div {
        // border: 1px black solid;
        // height: 200px;
        // width: 200px;
        margin: 5px;
        // background-color: red;
        div {
            visibility: hidden;
        }
        p {
            visibility: hidden;
            margin: 0;
        }
        span {
            visibility: hidden;
        }
    }
}

span {
    color: wheat;
}

#market {
        border: 1px black solid;
        height: 250px;
        width: 200px;
        background-color: wheat;
}

#center {
        display: flex;
        justify-content: space-between;
        p {
                margin: 0;
            }

    #droppable {
            margin-right: 200px ;

        }
}

#player {
    margin-top: 20px;
    display: flex;
    div {
        margin: 5px;
    }
    P {
        margin: 0;
    }

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}