body {
    padding: 0;
    margin: 0;
    background-image: url('green.jpg');
}


.top {
    width: 100%;
    height: 50px;
    background-color: maroon;
    position: fixed;
    bottom: 0;
    z-index: 1;
    p {
        margin: 0;
    }
    h2 {
        text-align: center;
        padding-top: 5px;
        color: red;
        margin: 0;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        font-size: 30px;
    }
}

@keyframes blink {
    0% {color: red;}
    50%{color: white;}
}

#computer {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    div {
        margin: 5px;
    }
}

span {
    color: wheat;
}

#market {
        height: 235px;
        width: 200px;
        background-color: white;
        border-radius: 3%;
}

#center {
        display: flex;
        p {
                margin: 0;
        }

    #droppable {
            margin-right: 100px ;

        }
        #twenty {
            height: 235px;
            width: 200px;
            background-color: wheat;
            visibility: hidden;
            margin: 0 70px;
            // overflow: scroll;
            display: flex;
            flex-wrap: wrap;

            .a {
                height: 45px;
                width: 60px;
                margin: 10px;
                background: white;
                position: relative;
                div {
                    position: absolute;
                    top: 30%;
                    left: 30%;
                }
            }
        }
}

#player {
    margin-top: 10px;
    display: flex;
    div {
        margin: 5px;
    }
    P {
        margin: 0;
    }

}

h1 {
    text-align: center;
    color: #521717;
    font-size: 40px;
    }

    #one {
        transform: rotateY(180deg) rotateX(180deg);
        margin: 0;
        // padding-right: 20px;
    }
    #two {
        margin: 0;
    }

    .card {
        position: relative;
    }
    h4 {
        color:#521717;
        margin: 0;
        padding-left: 10px;
    }

    .ones {
        transform: rotateY(180deg) rotateX(180deg);
         padding-right: 20px;
         margin-bottom: -15px;
         /* margin-top: 0; */
    }
    .twos {
        margin: 0;
    }
