body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 30px;
}

.top {
    width: 100%;
    height: 30px;
    background-color: maroon;
    position: fixed;
    top: 0;
    z-index: 1;
    p {
        margin: 0;
    }
    h2 {
        text-align: center;
        color: whitesmoke;
        margin: 0;
    }
}
#computer {
    margin-bottom: 20px;
    display: flex;
    div {
        // border: 1px black solid;
        // height: 200px;
        // width: 200px;
        margin: 5px;
        // background-color: red;
        div {
            visibility: hidden;
        }
        p {
            visibility: hidden;
            margin: 0;
        }
        span {
            visibility: hidden;
        }
    }
}

span {
    color: wheat;
}

#market {
        border: 1px black solid;
        height: 250px;
        width: 200px;
        background-color: wheat;
}

#center {
        display: flex;
        justify-content: space-between;
        p {
                margin: 0;
        }

    #droppable {
            margin-right: 100px ;

        }
        #twenty {
            height: 250px;
            width: 200px;
            background-color: wheat;
            visibility: hidden;
            .a {
                float: left;
                height: 60px;
                width: 60px;
                margin: 10px;
                background: white;
                position: relative;
                div {
                    position: absolute;
                    top: 30%;
                    left: 30%;
                }
            }
        }
}

#player {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    div {
        margin: 5px;
    }
    P {
        margin: 0;
    }

}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}